**All about python by Sabbir Ahmmed, Dept. of CSE, NUBTK**
@sabbir185

In [ ]:
print('Hello World! 1st variable, 2nd output then input, data types')

Fundamental data types:
1. int
2. float
3. bool
4. str
5. list 
6. tuple
7. set
8. dict

In [ ]:
print( type(3) )
print( type(-2) )
print( type(2/3) , (2/3) )
print( type(2//3), (2//3) )
print( type('sabbir'))
print( type(1==1))
print( type(2+3.2) )
print( 2**3 )
print( 5 % 4 )

Python's some math operation:

In [ ]:
import math

print( math.ceil(5.5),' , ', math.ceil(4.2) )

print( math.fabs(-5.5) )

print( math.sqrt(25) )

print( math.pow(5, 2) )

print( math.floor(6.6) )

print( math.pi )

print( round( math.pi ) )

print( max(2,5,1) )

print( min(2,5,1) )

print( abs(-9) )

print( round(math.pi, 2) )  #two decimal place

print( f'{math.pi:.2f}' )   #two decimal place

print( math.isnan(10) )

print( bin(5) )  # binary representation

print( int('0b101', 2))  # binary to decimal

Operator precedence:
1. ()
2. **
3. / or *
4. ' + ' or ' - '

In [ ]:
print( (20-2) + 2**2 + 5 - 2 )    # 25

**the rules of variable declare, almost all programming languages are same**

In [14]:
# variables are case sensetive
# variable never start from number or special character ( except underscore _ )
# python variable convention rules are : snake-case, PascalCase, chamelCase
country_name = "Bangladesh" #snake-case
countryName = "USA"         #camelCase
CountryName = "India"       #PascalCase

**Output format**

In [ ]:
# format 1
name = "sabbir"
n = 'My name is {}'
print(n.format(name))

# format 2
print('My name is {}. I am a {}.'.format('Jubayer', 'student'))

# format 3
country = "Bangladesh"
capital = "Dhaka"
print(f'Country name is {country} and Capital name is {capital}')

# float number decimal place
PI = 3.1416
print(f'PI 2number decimal place is {PI:.2f} ')

In [ ]:
# python memory management is awesome, for different variables but same value, it doesn't take different address
x = 10
y = 10
print( id(x) )

print( id(y) )

print( id(y+1) )

**Python input**

In [ ]:
import math
name = input() # by default takes string input
print(name)

num1 = int(input("Enter 1st number : "))
num2 = float(input("Enter 2nd number : "))
sum = num1 + num2   # auto type casting
print(sum)
type(sum)

# number type casting or converting
n = 10
m = 12.4
k = 15.5
sum = n + int(m)
print(sum)
type(sum)

# string casting
num3 = '5'
num4 = 4

print(type(num3))

sum = int(num3) + num4

print(type( int(num3) ))
print(sum)

**Condition rules**

In [ ]:
# if, elif, else
n = 15

if n < 12:
  print('Hello 1')

elif 5 <= n <= 18:   # and condition's short form, n is greater than or equal to 5 and n is less than or equal to 18
  print('Hello 2')

elif n > 10:
  print('Hello 3')

else:
  print('Hello 4')

**Python loops** @for, while

In [ ]:
# The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects. 
# Iterating over a sequence is called traversal.

arr1 = [1, 3, 5, 7]

for val in arr1:  # by using in, val holds direct value of array; another, for i,val in enumerate(arr1): 
  print(val, end=" ")

  if val == 3:
    print(f'{val + 6}', end=" ")

else:
  print('\nAwesome!')


# range() 

for i in range(10):   # by default range/loop start from 0 and end n-1, i holds index position
  print(i, end=" ")


# range function take 3 parameter at most
# 1. range(n)   // start: 0, end: n-1
# 2. range(start, n-1)  // by default skip-step increament 1 
# 3. range(start, n-1, skip-step)  //ex. (0, 10, 2) == 0, 2, 4, 6, 8
print()

arr2 = [1, 1, 2, 3, 5, 8]    # in python an array is called list, set is tuple, map/object is dictionary

# 1
for i in range( len(arr2) ):
  print(i, end=" ")

# 2
print()
for i in range(1, len(arr2) ):
  print(i, end=" ")

# 3
print()
for i in range(2, 10, 2):
  print(i, end=" ")



# while loop
print("\nwhile loop : ")

cnt = 0

while cnt <= 10:                 # loop is true, till cnt is less than or equal 10
  print(cnt, end=" ", sep="-")   # attention and see, print() defualt prevent parameters

  cnt += 1

else:
  print('\nDone!')

In [ ]:
arr2 = [1, 1, 2, 3, 5, 8]
print(f'Type is {type(arr2)}, length is {len(arr2)}')

sum = 0
for i in range ( len(arr2) ):
  print(arr2[i], end=" ")

  if arr2[i] == 5:
    print( arr2[i] + 1, end=" " )
    pass

  sum += arr2[i]

print("\nThe sum is : ",sum)


# dictionary ( key, value )
st_name = "sabbirr"
student = {"name": "sabbir", "age": 23, "dept": "CSE", "id": 185}

for i,val in enumerate(student):

  if student["name"] == st_name:
    print(student["dept"])
    break

  else:
    print('index : ',i, " key : ", val)
    continue

**Python function**

**Data structure**

**OOP**

**Advance topics**

**Date time**

**Random topics**